# dependencies
node_modules

# Next.js build output
.next

# TypeScript incremental build info
*.tsbuildinfo

# lock files (pnpm を使用しているため npm lock は不要)
package-lock.json

# environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
